body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0ecf3;
  font-family: Arial, sans-serif;
}
label, button, select, option, div, input {
  box-sizing: border-box;
}

.header {
  position: fixed;
  background: #fff;
  position: fixed;
  top: 0;
  z-index: 50;
  box-shadow: 0 3px 24px rgba(0,0,0,.08);
  width: 100% !important;
  padding: 8px 16px;
  display: flex;
  justify-content: flex-end;
}

#languageSelect {
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  text-align: center;
  /* background-color: #4caf50; */
  /* color: white; */
}
#languageSelect:focus-visible {
  outline: none;
}
/* #languageSelect:hover {
  background-color: #45a049;
} */

.main {
  width: 100%;
}

#jsonFile,
#downloadBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#jsonFile {
  display: none;
  margin-right: 20px;
}

.customFileUpload {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 120px;
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed white;
  border-radius: 10px;
  cursor: pointer;
}

.customFileUpload:hover {
  background-color: #cbe9fb;
}

.customFileUploadContainer {
  width: 100%;
}

#downloadBtnContainer {
  display: none;
  max-width: 600px;
  margin: 0 auto;
  width: 90%;
}

.downloadBtnArea {
  margin: 12px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #40444f;
  border-radius: 10px;
  padding: 20px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #5c6069;
  margin: 20px 0;
}

#downloadBtn {
  background-color: #4caf50;
  color: white;
}

.button {
  height: 40px;
  margin: 4px;
}

#status {
  color: white;
}

#error {
  color: red;
  margin-top: 20px;
}
