body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #e0ecf3;
  font-family: Arial, sans-serif;
  color: #38404b;
}

label, button, select, option, div, input, p, header, main, h3 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100% !important;
  padding: 8px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  box-shadow: 0 3px 24px rgba(0,0,0,.08);
}

#languageSelect {
  padding: 10px 0;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

#languageSelect:focus-visible {
  outline: none;
}

main {
  width: 100%;
  margin-top: 90px;
}

#jsonFile,
#downloadBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#jsonFile {
  display: none;
  margin-right: 20px;
}

.customFileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 150px;
  max-width: 600px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s ease;
  box-shadow: 0px 5px 16px -2px #4caf50;
}

.customFileUpload:hover {
  background-color: #388e3c;
}

.customFileUploadContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.declaration {
  position: absolute;
  bottom: 30px;
  font-size: 12px;
}

#downloadBtnAndDivider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#downloadBtnContainer {
  display: none;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.downloadBtnArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 12px 0;
  background-color: #40444f;
  border-radius: 10px;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 20px 0;
  background-color: #5c6069;
}

#downloadBtn {
  background-color: #4caf50;
  color: white;
}

.button {
  height: 40px;
  margin: 4px;
}

#status {
  color: white;
}

#error {
  color: red;
  margin-top: 20px;
}

.usageOutArea {
  margin: 30px 0;
  padding: 30px 0;
  background-color: #eee;
}

.usageContainer {
  margin: 0 auto;
  width: 90%;
  max-width: 600px;
}

.usageStep {
  margin: 8px 0;
  font-size: 14px;
}

img {
  width: 100%;
  height: auto;
  max-width: 600px;
}

.contact {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 12px;
}
